@import url('main-style.css');

ol {
    margin: 48px;
}

#page-heading {
    grid-row: 1;
    padding: none;
}

#container-two {
    display: grid;
    grid-template: 7% 2fr 5% 20% 5% 5% 25% / 1fr 1fr;
    align-items: end;
    gap: 16px;
}

.img-wrapper{
    grid-row: 2;
}

#item-three {
    grid-row: 3;
}

.bold-text {
    font-size: 24px;
    font-weight: bolder;
}

#item-four {
    grid-row: 4;
    max-width: 400px;
}

.table-head {
    font-size: 18px;
    font-weight: bolder;
}

tr:nth-child(2n+2) {
    background: rgba(173, 107, 235, 0.212);
}

#item-five {
    grid-row: 6;
    text-align: left;
}

#item-six {
    grid-row: 7;
}

li {
    font-size: 20px;
}
