* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:visited {
    color: #ececec;
}

#container-one {
    padding: 32px 32px;
    background: #385170;
}

#container-two {
    display: grid;
    grid-template: repeat(3, 1fr) / 1f;
    padding: 16px;
    background: #9fd3c7;
}

.page-heading{
    grid-row-start: 1;
    padding-bottom: 32px;
}

.page-description{
    grid-row-start: 2;
}

#recipe-preview{
    grid-row-start: 3;
    display: grid;
    gap: 16px;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr;

}

.recipe-wrapper {
    grid-row: auto;
    grid-column: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 85% 5%;
    margin: 16px;
    padding: 20px 0px;
    box-shadow: 10px 5px 5px #385170;
    max-width: 250px;
    background-color: rgb(42, 131, 131);
}

.recipe-wrapper:hover{
    box-shadow: none;
}

.recipe-title {
    font-size: larger;
    font-weight: bold;
    grid-row: 1;
    padding-left: 16px;
}

.recipe-img {
    max-width: 300px;
    max-height: 200px;
    padding-left: 32px;
    grid-row: 2;
}

.recipe-rating {
    grid-row: 3;
    padding-left: 32px;
}

footer {
    background: rgb(42, 131, 90);
}
